
.forum {
    display: contents;
    border-radius: 15px;
    text-align: center;
    gap: 50%;
}

.forum pre {
    background: rgba(31, 40, 51, 0.95);
    border-radius: 15px;
}

/*Chat bot*/
.close-btn {
  display: inline-block;
  padding: 12px 24px;
  background: #007bff;
  border-radius: 10%;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}
.chatbot {
    position: fixed;
    bottom: var(--spacing-lg);
    right: var(--spacing-lg);
    width: 300px;
    background: var(--color-darker);
    border: 1px solid #444;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    font-family: Arial, sans-serif;
    z-index: 9999;
}

.chat-header {
    background: var(--color-dark);
    color: #fff;
    padding: var(--spacing-sm);
    font-weight: bold;
}

.chat-body {
    max-height: 300px;
    overflow-y: auto;
    padding: var(--spacing-sm);
    background: var(--color-darker);
    color: #fff;
}

.chat-input {
    display: flex;
    border-top: 1px solid #444;
}

.chat-input input {
    flex: 1;
    padding: var(--spacing-sm);
    border: none;
    background: var(--color-darker);
    color: #fff;
}

.chat-input button {
    padding: var(--spacing-sm);
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
