/***** Index *****/
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px 10%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Images/logo.png") center/cover no-repeat;
  color: #fff;
}
.hero-text {
  max-width: 50%;
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background: var(--color-accent);
  color: #000;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}
.cta-button:hover {
  background: #45a29e;
}
.about h1 {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 40px 5%;
  }
  .hero-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  }
  .about-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
}
.about-content img {
  width: 400px;
  height: auto;
  border-radius: 8px;
}


